**/.DS_Store
.nix-profile
.direnv/
.envrc
dataset-generator/output/
dataset-generator/cache/

# Terraform/ opentofu
*.tfstate
*.tfstate.*
*.tfvars
opentofu/.terraform/
**/*.tofuplan

*.bbl
*.out
*.aux
*.run.xml
*.log
*.toc
*.blg
*.bcf
*.synctex.gz

