**/.DS_Store
.nix-profile
.direnv/
.envrc
dataset-generator/output/
dataset-generator/.venv/
dataset-generator/cache/

# Terraform/ opentofu
*.tfstate
*.tfstate.*
*.tfvars
opentofu/.terraform/
**/*.tofuplan
**/.terraform/


*.bbl
*.out
*.aux
*.run.xml
*.log
*.toc
*.blg
*.bcf
*.synctex.gz
thesis/thesis.pdf

load-generator/results/
