{{define "TripLength"}}
SELECT SUM(distance(geo_point, next_geo)) AS trip_length_m
FROM (
  SELECT
    geo_point,
    LEAD(geo_point) OVER (ORDER BY "timestamp") AS next_geo
  FROM escooter_events
  WHERE trip_id = '{{.TripID}}'
) t
WHERE next_geo IS NOT NULL;
{{end}}

{{define "EscooterTraceByTripID"}}
SELECT *
FROM escooter_events
WHERE trip_id = '{{.TripID}}'
ORDER BY timestamp;
{{end}}

{{define "LastKnownLocationPerTrip"}}
SELECT trip_id, geo_point, timestamp
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY trip_id ORDER BY timestamp DESC) AS rn
    FROM escooter_events
) t
WHERE rn = 1
LIMIT {{.Limit}};
{{end}}

{{define "EscootersInDistricsInTimeRange"}}
SELECT e.*
FROM escooter_events e
JOIN districts d
  ON within(e.geo_point, d.geo_shape)
WHERE d.name = '{{.DistrictName}}'
  AND e.timestamp BETWEEN '{{.StartTime}}' AND '{{.EndTime}}';
{{end}}

{{define "EscooterEventsNearPoiInTimeRange"}}
SELECT e.*
FROM escooter_events e
JOIN pois p
  ON distance(e.geo_point, p.geo_point) < {{.Radius}}
WHERE p.poi_id = '{{.POIID}}'
  AND e.timestamp BETWEEN '{{.StartTime}}' AND '{{.EndTime}}';
{{end}}

{{define "EscootersAtTimeInDistrict"}}
SELECT DISTINCT e.trip_id
FROM escooter_events e
JOIN districts d
  ON within(e.geo_point, d.geo_shape)
WHERE d.name = '{{.DistrictName}}'
  AND e.timestamp = '{{.Timestamp}}';
{{end}}

{{define "NearestEscooterToPOIAtTime"}}
SELECT e.trip_id,
       distance(e.geo_point, p.geo_point) AS dist
FROM escooter_events e
JOIN pois p
  ON p.poi_id = '{{.POIID}}'
WHERE e.timestamp = '{{.Timestamp}}'
ORDER BY dist
LIMIT 1;
{{end}}

{{define "EscootersNearPOI"}}
SELECT DISTINCT e.trip_id
FROM escooter_events e
JOIN pois p
  ON distance(e.geo_point, p.geo_point) < {{.Radius}}
WHERE p.poi_id = '{{.POIID}}';
{{end}}

{{define "EscootersWithPOIsInRadiusOfEachOther"}}
SELECT e.*, p.*
FROM escooter_events e
JOIN pois p
  ON distance(e.geo_point, p.geo_point) < {{.Radius}}
LIMIT {{.Limit}};
{{end}}
