-- What is the time span of the whole dataset?
SELECT MIN(startTimestamp(trip)) AS begin, MAX(endTimestamp(trip)) AS end
FROM trips;

-- Data summaries
define{{"DataSummaries"}}
SELECT 
    MIN(length(trip)) AS minLength,
    MAX(length(trip)) AS maxLength,
    AVG(length(trip)) AS avgLength,
    MIN(duration(trip)) AS minDuration,
    MAX(duration(trip)) AS maxDuration,
    AVG(duration(trip)) AS avgDuration,
    MIN(numInstants(trip)) AS minPoints,
    MAX(numInstants(trip)) AS maxPoints,
    AVG(numInstants(trip)) AS avgPoints,
FROM trips;
{{end}}
