{{define "TripLength"}}
SELECT SUM(ST_Distance(geo_point::geometry, next_geo::geometry)) AS trip_length_m
FROM (
  SELECT
    geo_point,
    LEAD(geo_point) OVER (ORDER BY timestamp) AS next_geo
  FROM escooter_events
  WHERE trip_id = '{{.TripID}}'
) t
WHERE next_geo IS NOT NULL;
{{end}}

{{define "EscooterTraceByTripID"}}
SELECT *
FROM escooter_events
WHERE trip_id = '{{.TripID}}'
ORDER BY timestamp;
{{end}}

{{define "LastKnownLocationPerTrip"}}
SELECT trip_id, geo_point, timestamp
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY trip_id ORDER BY timestamp DESC) AS rn
    FROM escooter_events
) t
WHERE rn = 1
LIMIT {{.Limit}};
{{end}}

{{define "EscootersInDistricsInTimeRange"}}
SELECT e.*
FROM escooter_events e
JOIN districts d
  ON ST_Within(e.geo_point::geometry, d.geo_shape)
WHERE d.name = '{{.DistrictName}}'
  AND e.timestamp BETWEEN '{{.StartTime}}' AND '{{.EndTime}}';
{{end}}

{{define "EscooterEventsNearPoiInTimeRange"}}
SELECT e.*
FROM escooter_events e
JOIN pois p
  ON ST_Distance(e.geo_point::geometry, p.geo_point::geometry) < {{.Radius}}
WHERE p.poi_id = '{{.POIID}}'
  AND e.timestamp BETWEEN '{{.StartTime}}' AND '{{.EndTime}}';
{{end}}

{{define "EscootersAtTimeInDistrict"}}
SELECT DISTINCT e.trip_id
FROM escooter_events e
JOIN districts d
  ON ST_Within(e.geo_point::geometry, d.geo_shape)
WHERE d.name = '{{.DistrictName}}'
  AND e.timestamp = '{{.Timestamp}}';
{{end}}

{{define "NearestEscooterToPOIAtTime"}}
SELECT e.trip_id,
       ST_Distance(e.geo_point::geometry, p.geo_point::geometry) AS dist
FROM escooter_events e
JOIN pois p
  ON p.poi_id = '{{.POIID}}'
WHERE e.timestamp = '{{.Timestamp}}'
ORDER BY dist
LIMIT 1;
{{end}}


{{define "EscootersNearPOI"}}
SELECT DISTINCT e.trip_id
FROM escooter_events e
JOIN pois p
  ON ST_Distance(e.geo_point::geometry, p.geo_point::geometry) < {{.Radius}}
WHERE p.poi_id = '{{.POIID}}';
{{end}}

{{define "CountEventsInDistrictPerHour"}}
SELECT date_trunc('hour', e.timestamp) AS hour,
       COUNT(*) AS event_count
FROM escooter_events e
JOIN districts d
  ON ST_Within(e.geo_point::geometry, d.geo_shape)
WHERE d.name = '{{.DistrictName}}'
GROUP BY hour
ORDER BY hour;
{{end}}

{{define "EscootersWithPOIsInRadiusOfEachOther"}}
SELECT e.*, p.*
FROM escooter_events e
JOIN pois p
  ON ST_Distance(e.geo_point::geometry, p.geo_point::geometry) < {{.Radius}}
LIMIT {{.Limit}};
{{end}}
