-- Trip events
{{define "GetTripEvents"}}
SELECT unnest(instants(trip)) AS instant
FROM trips
WHERE trip_id = '{{.TripID}}';
{{end}}


-- Start and end timestamp of a trip
{{define "TripFirstAndLastEvent"}}
SELECT startTimestamp(trip) AS start, endTimestamp(trip) AS end
FROM trips
WHERE trip_id = '{{.TripID}}';
{{end}}


-- Length of a trip
{{define "LengthOfTrip"}}
SELECT length(trip) AS tripLengthInMeters
FROM trips
WHERE trip_id = '{{.TripID}}';
{{end}}


-- Average speed of trip in Km/h
{{define "AverageSpeedOfTrip"}}
SELECT twAvg(speed(trip)) * 3.6 AS avgSpeedInKmh
FROM trips
WHERE trip_id = '{{.TripID}}';
{{end}}


-- POIs in radius of the trip
{{define "PoisWithinRadiusDuringTrip"}}
SELECT DISTINCT p.*
FROM trips t
JOIN pois p
  ON ST_DWithin(
    trajectory(t.trip)::geography,
    p.geo_point,
    {{.Radius}}
  )
WHERE t.trip_id = '{{.TripID}}';
{{end}}


-- Trips' start district
{{define "TripStartingDistrict"}}
SELECT t.trip_id, d.name AS start_district
FROM trips t
JOIN districts d
  ON ST_Intersects(startValue(t.trip), d.geo_shape)
WHERE t.trip_id = '{{.TripID}}';
{{end}}

-- Trip's end district
{{define "TripEndDistrict"}}
SELECT t.trip_id, d.name AS end_district
FROM trips t
JOIN districts d
  ON ST_Intersects(endValue(t.trip), d.geo_shape)
WHERE t.trip_id = '{{.TripID}}';
{{end}}


-- POIs close to the end of a trip
{{define "PoisCloseToEndDestination"}}
SELECT p.poi_id, p.name, ST_Distance(p.geo_point, endValue(t.trip)) AS distance
FROM trips t
CROSS JOIN pois p
WHERE t.trip_id = '{{.TripID}}'
ORDER BY distance ASC
LIMIT {{.Limit}};
{{end}}
